nav{
  height: 50px;
  background-color: #0008D964;
}
nav ul{
  display: flex;
  justify-content: space-around;
}
nav ul li{
  display: flex;
  color: white;
  font-family: cursive;  
}
.collier{
  height: 300px;
  width: 300px;
}
.hello{
  color:#0008D964;
  font-family: cursive;
}
.article{
  margin-top: 50px;
  margin-left: 30px;
}